body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
    background-size: cover;
}

.button {
    width: 60px;
    padding: 10px 40px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide o espa�o em duas colunas */
    grid-gap: 10px; /* Espa�amento entre os bot�es */
}

    .button:hover {
        background-color: #990000;
        cursor: pointer;
    }
