@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-content {
  display: flex;
  align-items: center;
}

.loading-dots {
  display: flex;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 4px;
  animation: loadingAnimation 1s infinite;
}


.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.email-form label {
  margin-bottom: 10px;
}

.email-form textarea {
  height: 100px;
}

.email-form input,
.email-form textarea {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}




@keyframes loadingAnimation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

