.wishlist-remove-item {
    position: absolute;
    background: none;
    color: rgb(255, 0, 0);
    font-size: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}

.wishlist-remove-item::after,
.wishlist-remove-item::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.wishlist-remove-item::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}

.wishlist-remove-item::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}
